html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
	/* display: flex; */
	/* justify-content: center; */
	text-align: center;
	margin: 0 auto;
	margin-top: 5rem;
  max-width: 1000px;
}

.container > * {
	display: block;
	text-align: center;
	font-size: 1.5rem;
}

.details {
	margin: 1rem 0 1rem 0;
	font-size: 1.5rem;
}

.details__lists {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.logo {
	display: block;
  margin-top: 3rem;
	margin-left: auto;
	margin-right: auto;
	width: 10rem;
}
.details__row {
	display: block;
}

.details__list {
	display: flex;
	justify-content: space-between;
}

.details__list:nth-of-type(1) {
	margin-top: 2.5rem;
}

.details__list__col1,
hr {
	opacity: 0.5;
  text-align: start;
}

.details__list__col2 {
	max-width: 40%;
	word-wrap: break-word;
	text-align: end;
}

.details__lists > hr:last-of-type {
	display: none;
}

/* responsiveness  */
@media (max-width: 590px) {
	.container {
		margin: 0 5vh;
	}
}
@media (max-width: 450px) {
	.container {
		margin: 0 1vh;
    font-size: 1.2rem;
	}
  .details__lists {
    font-size: 1rem;
  }
}
